
body {
	background-color: white;
}
.main__title{
	text-align: center;
}
.form__number-cards{
	text-align: center;
}

.card__container{
	display:flex;
	background-color:white;
	height: 200px;
	justify-content: center;
	margin-top :20px;
	list-style: none;
}
.card{
	width: 160px;
	background-color: #fff;
	margin:0 10px;
}